{% extends "base.html" %} {% block content %}

<div>
    <nav>
        {{ macros.m_tab_head_start() }} 
            {{ macros.m_tab_head('일반', true) }} 
            {{ macros.m_tab_head('바로가기', false) }} 
            {{ macros.m_tab_head('이동', false) }} 
            {{ macros.m_tab_head('인증', false) }} 
        {{ macros.m_tab_head_end() }}
    </nav>
    <div class="tab-content mb-3" id="nav-tabContent">
        <!-- 일반 -->
        {{ macros.m_tab_content_start('일반', true) }}
        <form id="setting" name="setting">
            {{ macros.setting_button([['global_setting_save_btn', '설정 저장']]) }}
            {{ macros.m_hr() }}
            {{ macros.info_text_go('instruction', '중요!!', desc=['[검색제외 드라이브에 ID]에 SJVA 임시 저장소의 드라이브 ID를 꼭 넣고 사용하세요.', '콤마로 구분해서 여러 개를 등록할 수 있으며 여기에 등록된 드라이브는 검색 결과에 나타나지 않습니다.', '임시 저장소의 데이터를 임의로 수정하거나 삭제하면 안되니 꼭 넣고 사용하세요.']) }}
            {{ macros.m_hr() }}
            {{ macros.setting_input_text('sjva_driveId', '검색제외 드라이브 ID', value=arg['sjva_driveId'], placeholder='', desc=['구글드라이브 공유 드라이브의 driveId값. (콤마로 구분) 최상위 폴더의 폴더ID와 같습니다.']) }}
            {{ macros.setting_input_int('path_count', '경로검색 건수', value=arg['path_count'], max='100', placeholder='50', desc='최대 100건') }}
            {{ macros.setting_input_text('plex_path', 'Plex 경로 변환 규칙', value=arg['plex_path'], placeholder='팀 드라이브=mnt/gttt,내 드라이브=mnt/gddd', desc=['\"[구글드라이브 경로]=[로컬 마운트 경로]\"형식으로 작성합니다. 예) 내 드라이브=mnt/gd']) }}
            {{ macros.setting_input_text('win_path', 'Windows 경로 변환 규칙', value=arg['win_path'], placeholder='팀 드라이브=T:\\팀 드라이브,내 드라이브=Q:', desc=['\"[구글드라이브 경로]=[Windows 경로]\"형식으로 작성합니다.','예) \"공유용=t:\\공유용\" - \"공유용\" 이라는 공드가 윈도우에 "T:\\공유용"에 마운트 된 상태']) }}
            {{ macros.m_hr() }}
            {{ macros.info_text_go('instruction', '변환 규칙', desc=['단순 치환규칙으로 생각하면 쉽습니다.', '구글드라이브 경로는 플러그인에서 검색된 것을 기준으로 합니다.', '콤마로 구분하여 여러개를 등록할 수 있습니다.', '예시)' , 'Plex(linux) - 팀 드라이브=mnt/gttt,내 드라이브=mnt/gddd' , 'Windows - 팀 드라이브=T:\\팀 드라이브,내 드라이브=Q:']) }}
        </form>
        {{ macros.m_tab_content_end() }}

        <!-- 바로가기 -->
        {{ macros.m_tab_content_start('바로가기', false) }}
        <form id="setting_tracker" name="setting_tracker">
            {{ macros.setting_input_textarea('shortcut', '바로가기 대상 폴더', value=arg['shortcut'], row='10', desc=['바로가기를 생성할 대상 폴더 미리 지정. folderId=이름 형식으로 작성, 줄바꿈으로 구분']) }}
            <!-- {{ macros.setting_select_and_buttons('tracker_update_from', '트래커 리스트', arg['tracker_update_from_list'], col='9', desc=['업데이트에 사용할 트래커 리스트를 선택하세요. 출처: https://github.com/ngosang/trackerslist'], value=arg['tracker_update_from']) }}
            {{ macros.setting_input_int('tracker_update_every', '자동 업데이트', value=arg['tracker_update_every'], min='0', placeholder='15', desc='위 리스트로부터 자동으로 받아옵니다. 0이면 업데이트 하지 않음. 주기: 일') }}
            {{ macros.setting_button_with_info([['tracker_update_now_btn', '지금 업데이트']], '수동 업데이트', '최근 업데이트: ' ~ arg['tracker_last_update']) }} -->
            {{ macros.setting_button([['111creds_setting_save_btn', '저장']]) }}
        </form>
        {{ macros.m_tab_content_end() }}

        <!-- 이동 -->
        {{ macros.m_tab_content_start('이동', false) }}
        {{ macros.setting_input_textarea('move', '이동 대상 폴더', value=arg['move'], row='10', desc=['파일 또는 폴더를 이동할 때 대상 폴더 미리 지정. folderId=이름 형식으로 작성, 줄바꿈으로 구분']) }}
        {{ macros.m_hr() }}
        {{ macros.m_tab_content_end() }}

        <!-- 일반 -->
        {{ macros.m_tab_content_start('인증', true) }}
        <form id="creds_setting" name="creds_setting">
            {{ macros.setting_button([['creds_setting_save_btn', '저장']]) }}
            <!-- {{ macros.m_hr() }}
            {{ macros.info_text_go('instruction', '참고', desc=['인증 파일 경로1은 무조건 입력하셔야 합니다.' , '현재 경로2, 경로3은 사용하지 않습니다.']) }} -->
            {{ macros.m_hr() }}
            {{ macros.setting_input_text('cred_path1', '인증 파일 경로1(필수)', value=arg['cred_path1'], placeholder='/app/data/rclone_expand', desc=['구글API 인증시 생성되는 credentials파일과 token.pickle 파일의 경로를 지정합니다.' , 'rclone_expand에서 사용하는 인증파일을 똑같이 사용하시려면  /app/data/rclone_expand 를 입력하세요','rclone_expand에서 사용하는 계정과 다른 계정으로 사용하는 경우 따로 폴더를 만들어서 지정합니다.' , '예) /app/data/rclone_expand/cred1']) }}
            <!-- {{ macros.setting_input_text('cred_path2', '인증 파일 경로2', value=arg['cred_path2'], placeholder='/app/data/rclone_expand/cred2') }}
            {{ macros.setting_input_text('cred_path3', '인증 파일 경로3', value=arg['cred_path3'], placeholder='/app/data/rclone_expand/cred3') }} -->
            {{ macros.m_hr() }}
            {{ macros.info_text_go('down_reg_script', '레지스트리 파일 다운로드', value=arg['reg_down_url'], desc=['메모장으로 편집해서 등록하거나 등록후 regedit에서 스크립트위치를 지정할 수 있습니다. 기본값 C:\\']) }}
            {{ macros.info_text_go('down_ps1_script', '파워쉘 스크립트 다운로드', value=arg['ps1_down_url'], desc=['윈도우 레지스트리에서 지정한 경로에 넣어줍니다. 기본값 대로 등록했다면 C:\\ 에 넣어줍니다.']) }}
        </form>
        {{ macros.m_tab_content_end() }}
        
    </div>
    <!--tab-content-->
</div>
<!--전체-->



<script type="text/javascript">
    var package_name = "{{arg['package_name']}}";
    // var down_url = window.location.protocol + "//" + window.location.host + "/file/data/custom/gsearch/summer.ps1"

    // $(document).ready(function() {

    //     $(function() {
    //         $.ajax({
    //             url: '/' + package_name + '/ajax/is_installed',
    //             type: "POST",
    //             cache: false,
    //             data: {},
    //             dataType: "json",
    //             success: function(data) {
    //                 if (data.installed) {
    //                     $('#install_btn').prop('disabled', true);
    //                     $('#install_btn').html('설치됨');
    //                     $('#install_btn').parent().next().html('<em>libtorrent ' + data.version + '</em>');
    //                 } else {
    //                     $('.nav-tabs a[href="#기타"]').tab('show');
    //                 }
    //             }
    //         });
    //     });

    //     $(function() {
    //         $.ajax({
    //             url: '/' + package_name + '/ajax/cache',
    //             type: "POST",
    //             cache: false,
    //             data: {},
    //             dataType: "json",
    //             success: function(data) {
    //                 update_cache_status(data);
    //             }
    //         });
    //     });

    // });

    // libtorrent 설치 버튼
    $("body").on('click', '#install_btn', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/' + package_name + '/ajax/install',
            type: "POST",
            cache: false,
            dataType: "json",
            success: function(data) {
                if (data.success) {
                    $.notify('<strong>성공적으로 설치하였습니다.</strong><br>' + data.log, {
                        type: 'success'
                    });
                } else {
                    $.notify('<strong>실패하였습니다.</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    });

// libtorrent 설치 버튼
$("body").on('click', '#uninstall_btn', function(e) {
    e.preventDefault();
    $.ajax({
        url: '/' + package_name + '/ajax/uninstall',
        type: "POST",
        cache: false,
        dataType: "json",
        success: function(data) {
            if (data.success) {
                $.notify('<strong>삭제하였습니다.</strong>', {
                    type: 'success'
                });
            } else {
                $.notify('<strong>실패하였습니다.</strong><br>' + data.log, {
                    type: 'warning'
                });
            }
        }
    });
});

    // 캐시 현황 업데이트
    function update_cache_status(data) {
        if (data.success) {
            $('#clear_cache_btn').parent().next().html(
                '<em>현재 ' + data.count.toString() + '개의 토렌트 정보를 저장 중</em>'
            );
        } else {
            $('#clear_cache_btn').parent().next().html(
                '<em>캐시 현황을 가져오는데 문제가 있습니다: ' + data.log + '</em>'
            );
        }
    }

    // clear_cache 버튼
    $("body").on('click', '#clear_cache_btn', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/' + package_name + '/ajax/cache',
            type: "POST",
            cache: false,
            dataType: "json",
            data: {action: "clear"},
            success: function(data) {
                update_cache_status(data);
            }
        });
    });

    // update_tracker 버튼
    $("body").on('click', '#tracker_update_now_btn', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/' + package_name + '/ajax/tracker_update',
            type: "POST",
            cache: false,
            dataType: "json",
            data: {},
            success: function(data) {
                if (data.success) {
                    $.notify('<strong>성공적으로 업데이트하였습니다.</strong><br>새로고침하여 확인하세요.', {
                        type: 'success'
                    });
                } else {
                    $.notify('<strong>문제가 있습니다: </strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    });

    // creds_setting_save_btn 버튼
    $("body").on('click', '#creds_setting_save_btn', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/' + package_name + '/ajax/creds_save',
            type: "POST",
            cache: false,
            dataType: "json",
            data: get_formdata('#creds_setting'),
            success: function(data) {
                console.log(data)
                if (data) {
                    $.notify('<strong>설정을 저장하였습니다.</strong>', {
                        type: 'success'
                    });
                } else {
                    $.notify('<strong>설정 저장에 실패하였습니다.</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
        $.ajax({
            url: '/' + package_name + '/ajax/oauth',
            type: "POST",
            cache: false,
            dataType: "json",
            data: {},
            success: function(data) {
                console.log(data)
                if (data) {
                    $.notify('<strong>인증정보를 다시 로드합니다.</strong>', {
                        type: 'success'
                    });
                } else {
                    $.notify('<strong>인증정보 로드에 실패했습니다..</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    });

</script>

{% endblock %}
